@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


@theme {
    --color-p_black: #010203;
    --color-p_darkgrey: #444444;
    --color-p_red: #DA0037;
    --color-p_lightgrey: #EDEDED;
    --color-p_grey: #7F8CAA;

    --color-m_lightgrey: #D3D6DB;
    --color-m_darkgrey1: #3A4750;
    --color-m_darkgrey2: #303841;
    --color-m_red: #BE3144;

    --color-yellow:#FCAF45;
    --color-blue:#C13584;
    --color-pink:#405DE6;


    --font-sans: 'Raleway', 'system-ui', 'sans-serif';
    --font-heading: 'Raleway', 'system-ui', 'sans-serif';

    --breakpoint-mobile: 320px;
    --breakpoint-tablet: 768px;
    --breakpoint-laptop: 1024px;
    --breakpoint-desktop: 1280px;
}


@layer base {
    html {
        font-family: var(--font-sans);
        scroll-behavior: smooth;
    }

    body {
        font-family: var(--font-sans);
        line-height: 1.6;
    }

    html, body {
        overflow: hidden;
        height: 100%;
    }

    html::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }

    /* Headings with Raleway */
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-heading);
        line-height: 1.2;
        letter-spacing: -0.02em; /* Tighter letter spacing for modern look */
    }


}


